.jumbotron{
    background-color: red;
}

.jumbotron img{
    width: 100%;
}
.square_image{
    height: 50vw;
    background-color: yellow;
    border: 1px solid black;
}
section.references{
    background-color: #1abc9c;
}

section.contatti .input_text{
    border: 0;
    border-bottom: 1px solid gray;
}
section.contatti button{
    min-width: 65px;
}





@media (min-width:576px){
    .square_image{
        height: 40vw;
    }
}

@media (min-width:992px){
    .square_image{
        height: 22vw;
        max-height: 350px;
    }
}